<h2><%= "#{@model}s search for " + '"' + @key_word + '"' %></h2>


<% if @model == "User" %>
  <% if @key_word.present? %>
    <%= render "users/index", users:@data %>
  <% else %>
    <%= render "users/index", users:@users %>
  <% end %>
<% elsif @model == "Book" %>
  <% if @key_word.present? %>
    <%= render "books/index", books:@data %>
  <% else %>
    <%= render "books/index", books:@books %>
  <% end %>
<% end %>