<header>
  <li>
    <%= link_to "Bookers", root_path %>
  </li>
  <ul>
    <% if user_signed_in? %>
      <li>
        <%= link_to root_path do %>
          <i class="fas fa-home"></i> Home
        <% end %>
      </li>
      <li>
        <%= link_to users_path do %>
          <i class="fas fa-users"></i> Users
        <% end %>
      </li>
      <li>
        <%= link_to books_path do %>
          <i class="fas fa-book-open"></i> Books
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path do %>
          <i class="fas fa-sign-out-alt"></i> %> logout
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to root_path do %>
          <i class="fas fa-home"></i> Home
        <% end %>
      </li>
      <li>
        <%= link_to home_about_path do %>
          <i class="fas fa-link"></i> About
        <% end %>
      </li>
      <li>
        <%= link_to new_user_registration_path do %>
          <i class="fas fa-user-plus"></i> sign up
        <% end %>
      </li>
      <li>
        <%= link_to new_user_session_path do %>
          <i class="fas fa-sign-in-alt"></i> login
        <% end %>
      </li>
    <% end %>
  </ul>
</header>