<header class="mb-3">
  <nav class="navbar navbar-expand-lg navber-dark bg-dark">
    <div class="container">
      <%= link_to "Bookers", root_path, class: "navbar-brand text-white" %>
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to root_path, class: "nav-link text-white" do %>
              <i class="fas fa-home"></i> Home
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to users_path, class: "nav-link text-white" do %>
              <i class="fas fa-users"></i> Users
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to books_path, class: "nav-link text-white" do %>
              <i class="fas fa-book-open"></i> Books
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, class: "nav-link text-white", method: :delete do %>
              <i class="fas fa-sign-out-alt"></i> logout
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to home_top_path, class: "nav-link text-white" do %>
              <i class="fas fa-home"></i> Home
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to home_about_path, class: "nav-link text-white" do %>
              <i class="fas fa-link"></i> About
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: "nav-link text-white" do %>
              <i class="fas fa-user-plus"></i> sign up
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link text-white" do %>
              <i class="fas fa-sign-in-alt"></i> login
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <% if notice %>
    <p class="text-success"><%= notice %></p>
  <% end %>
</header>